Source: papyrus
Maintainer: Debian Med Packaging Team <debian-med-packaging@lists.alioth.debian.org>
Uploaders: Andreas Tille <tille@debian.org>
Section: libdevel
Priority: optional
Build-Depends: debhelper-compat (= 13),
               cmake (>= 3.7)
Standards-Version: 4.6.1
Vcs-Browser: https://salsa.debian.org/med-team/papyrus
Vcs-Git: https://salsa.debian.org/med-team/papyrus.git
Homepage: https://web.archive.org/web/20021003015549/http://www.expasy.ch/UIN/html1/projects/papyrus/papyrus.html
Rules-Requires-Root: no

Package: libpapyrus3-dev
Architecture: any
Depends: ${misc:Depends}
Description: DICOM compatible file format library
 PAPYRUS 3.0 file format based on the new DICOM 3.0 Standard addresses the open
 interchange of medical images in files or on removable storage media. This
 specific implementation of the DICOM standard is intended as a generic solution
 for interchange of multi-modality medical images on removable media. It can
 also be used for convenient exchange of image data between different computer
 systems through industry standard file transfer mechanisms. Finally it can also
 be used for storage and archival of medical image data in a DICOM compatible
 format.
 .
 This package contains the libraries needed to run PAPYRUS 3.0 applications.
